.content {
  width: 100%;
  max-width: 1280px;
  min-width: 320px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1279px) {
  .content {
    max-width: 768px;
  }
}
@media screen and (max-width: 767px) {
  .content {
    max-width: 320px;
  }
}
