.header {
  max-width: clamp(288px, 100vw, 1280px);
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.header__title {
  font-size: clamp(30px, 13.33vw, 96px);
  max-width: clamp(228px, 69.01vw, 720px);
  margin-bottom: clamp(16px, 0.025vw, 32px);
  margin-top: clamp(50px, 7.19vw, 92px);
  line-height: 1.2;
  font-family: "Inter-black", sans-serif;
}

.header__subtitle {
  font-size: clamp(16px, 0.04vw, 30px);
  max-width: clamp(288px, 100vw, 720px);
  margin-top: 0;
  margin-bottom: clamp(40px, 0.05vw, 64px);
  line-height: 1.5;
  font-family: "Inter-regular", sans-serif;
}

@media screen and (max-width: 780px) {
  .header__title {
    font-size: 75px;
  }

  .header__subtitle {
    font-size: 30px;
  }
}

@media screen and (max-width: 320px) {
  .header__title {
    font-size: 30px;
  }

  .header__subtitle {
    font-size: 16px;
  }
}
