.intro {
  display: flex;
  flex-direction: column;
  margin: 0 302px 118px 148px;
  max-width: 830px;
}

.intro__title {
  font-size: clamp(32px, 6.51vw, 54px);
  font-size: 54px;
  line-height: 1.3;
  margin-bottom: 40px;
  font-family: "Inter-black", sans-serif;
}

.intro__quote {
  max-width: clamp(288px, 88.91vw, 738px);
  margin-bottom: 10px;
  font-size: 24px;
  line-height: 1.5;
  font-family: "Inter-regular", sans-serif;
}

.intro__author {
  margin: 0;
  font-size: 24px;
  line-height: 1.5;
  font-family: "Inter-regular", sans-serif;
  align-self: flex-end;
}
.intro__text {
  max-width: clamp(288px, 86.98vw, 722px);
  margin: 32px 0 0;
  font-size: 16px;
  line-height: 1.5;
  font-family: "Inter-regular", sans-serif;
}

@media screen and (max-width: 1280px) {
  .intro {
    max-width: 768px;
    margin: 90px 24px 64px 24px;
  }
  .intro__title {
    max-width: 707px;
    font-size: 45px;
  }
}

@media screen and (max-width: 768px) {
  .intro {
    max-width: 320px;
    margin: 64px 16px 38px 16px;
  }
  .intro__title {
    max-width: 288px;
    font-size: 32px;
  }
}
