.intro {
  display: flex;
  flex-direction: column;
  margin: 0 clamp(16px, 5vw, 302px) clamp(100px, 10.31vw, 132px)
    clamp(16px, 5vw, 148px);
  max-width: clamp(288px, 100vw, 830px);
}

.intro__title {
  /* font-size: clamp(32px, 6.51vw, 54px); */
  font-size: 54px;
  line-height: 1.3;
  margin-bottom: 40px;
  font-family: "Inter-black", sans-serif;
}

.intro__quote {
  max-width: clamp(288px, 88.91vw, 738px);
  margin-bottom: 10px;
  font-size: 24px;
  line-height: 1.5;
  font-family: "Inter-regular", sans-serif;
}

.intro__author {
  margin: 0;
  font-size: 24px;
  line-height: 1.5;
  font-family: "Inter-regular", sans-serif;
  align-self: flex-end;
}
.intro__text {
  max-width: clamp(288px, 86.98vw, 722px);
  margin: 32px 0 0;
  font-size: 16px;
  line-height: 1.5;
  font-family: "Inter-regular", sans-serif;
}

@media screen and (max-width: 768px) {
  .intro__title {
    font-size: 45px;
  }
}

@media screen and (max-width: 320px) {
  .intro__title {
    font-size: 32px;
  }
}
