.page {
  margin: 0;
  max-width: clamp(320px, 100vw, 1280px);
  min-width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #2a2c2f;
  color: #ffffff;
}

.page__logo {
  max-width: clamp(188px, 19.92vw, 255px);
  margin-top: clamp(20px, 0.026vw, 34px);
}

.page__image {
  max-width: clamp(320px, 76.87vw, 984px);
  aspect-ratio: 8 / 5;
  object-fit: cover;
  object-position: center;
  filter: grayscale();
}
