.photo-grid {
  max-width: clamp(288px, 92.5vw, 1184px);
  margin-left: clamp(16px, 3.35vw, 43px);
  margin-right: clamp(16px, 4.14vw, 53px);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 16px;
  overflow: hidden;
}

.photo-grid__image {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

@media screen and (max-width: 1279px) {
  .photo-grid {
    grid-template-columns: repeat(2, 352px);
    grid-template-rows: repeat(4, 264px);
    max-width: 720px;
    margin: auto;
  }
}

@media screen and (max-width: 767px) {
  .photo-grid {
    row-gap: 12px;
    grid-template-columns: 288px;
    grid-template-rows: repeat(8, 216px);
    max-width: 288px;
    margin: auto;
  }
}
