.place__image_square {
  width: 100%;
  max-width: 460px;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  display: block;
  height: auto;
  box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.5);
}
@media screen and (max-width: 1279px) {
  .place__image_square {
    max-width: 320px;
  }
}
@media screen and (max-width: 767px) {
  .place__image_square {
    max-width: 100%;
  }
}
