.place {
  margin: 0 145px 131px 148px;
  max-width: 987px;
  display: grid;
  grid-template-columns: 460px 484px;
  grid-template-rows: 152px 460px auto;
  align-items: start;
  column-gap: 40px;
  row-gap: 48px;
}

@media screen and (max-width: 1279px) {
  .place {
    max-width: 720px;
    margin: 0 24px 72px 24px;
    grid-template-columns: 340px 352px;
    grid-template-rows: 68px 320px auto;
    column-gap: 28px;
  }
}
@media screen and (max-width: 767px) {
  .place {
    max-width: 288px;
    grid-template-columns: 1fr;
    grid-template-rows: 65px 89px 320px auto;
    margin: 0 auto 40px auto;
  }
}
