.place__title {
  margin: 0;
  font-size: 72px;
  font-family: "Inter-black", sans-serif;
  line-height: 1;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  display: flex;
  flex-direction: column;
  justify-items: flex-end;
}
@media screen and (max-width: 1279px) {
  .place__title {
    font-size: 42px;
    max-width: 340px;
  }
}
@media screen and (max-width: 767px) {
  .place__title {
    grid-column: 1 / -1;
    grid-row: auto;
    max-width: 100%;
    box-sizing: border-box;
    overflow-wrap: break-word;
    word-break: break-word;
    font-size: 32px;
  }
}
